{
    email {$ACME_EMAIL}
}

{$APP_DOMAIN} {
    encode zstd gzip
    reverse_proxy frontend:3000
}

{$API_DOMAIN} {
    encode zstd gzip
    reverse_proxy {$BACKEND_PRIVATE_HOST}:{$BACKEND_PRIVATE_PORT}
}
